<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% set project = "Among Us Review Page" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
{% block body %}
<style>
    table, th, td {
        border:2px solid black;
        text-align: center;
    }
    #deez{
        margin-right:8%;
    }
</style>
<body>
<br>

<div>
    <img style="margin-left:35%" src="static/assets/amongusTITLE.png">
</div>
<br>

<div class="container" id="deez">
    <div class="row">
        <div class="col-sm-4">
            <img style="width:600px; margin-left:-32.5%" src="static/assets/amongusPREVIEW.jpg">
        </div>
        <div class="col-sm-8">
            <p style="font-size:28px; margin-left:25%;">
                Among Us is an exhilarating multiplayer game about deceiving and defeating your friends. In a lobby, some people are imposters and their goal is to sabotage the rest of the crewmates and be the last people standing by any means. Among Us is incredibly fun to play with your friends, but be careful! It might end some friendships!
            </p>
        </div>
    </div>
</div>
<br>

<div>
    <table style="margin-right:auto; margin-left:auto; width:65%">
        <tr>
            <th style="font-size:30px">Pros</th>
            <th style="font-size:30px">Cons</th>
        </tr>
        <tr style="font-size:20px">
            <td>3-15 person multiplayer
                <br>Mobile can crossplay with computer
                <br>Completely free to play
            <td>Lack of administration on some lobbies can lead to bullying/harassment</td>
        </tr>
    </table>
</div>
<br>

<div>
    <p style="font-size:20px; text-align:center">Available on: Mobile and PC ($5 on PC for no ads)</p>
</div>
<br>

</body>
{% endblock %}
</html>