<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% set project = "Sea of Thieves Review Page" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
{% block body %}
<style>
    table, th, td {
        border:2px solid black;
        text-align: center;
    }
    #deez{
        margin-right:8%;
    }
</style>
<body>
<br>

<div>
    <img style="margin-left:28%" src="static/assets/seaofthievesTITLE.png">
</div>
<br>

<div class="container" id="deez">
    <div class="row">
        <div class="col-sm-4">
            <img style="width:600px; margin-left:-32.5%" src="static/assets/seaofthievesPREVIEW.jpg">
        </div>
        <div class="col-sm-8">
            <p style="font-size:28px; margin-left:25%;">
                Sea of Thieves is a fun pirating FPS centered around gaining loot and sinking ships. Join a huge map filled to the brim with quests and fun adventures. Talk with many of the locals and learn the lore of this amazing game. There’s also an arena mode for people focused more on combat in the sea and exciting gunfights.
            </p>
        </div>
    </div>
</div>
<br>

<div>
    <table style="margin-right:auto; margin-left:auto; width:65%">
        <tr>
            <th style="font-size:30px">Pros</th>
            <th style="font-size:30px">Cons</th>
        </tr>
        <tr style="font-size:20px">
            <td>Crossplay multiplayer
                <br>Tons of quests and cosmetics
                <br>Separate adventure and arena modes</td>
            <td>High skill ceiling and $40</td>
        </tr>
    </table>
</div>
<br>



</body>
{% endblock %}
</html>