<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% set project = "Sea of Thieves Review Page" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
{% block body %}
<style>
    table, th, td {
        border:2px solid black;
        text-align: center;
    }
    #deez{
        margin-right:8%;
    }
</style>
<body>
<br>

<div>
    <img style="margin-left:28%" src="static/assets/seaofthievesTITLE.png">
</div>
<br>

<div class="container" id="deez">
    <div class="row">
        <div class="col-sm-4">
            <img style="width:600px; margin-left:-32.5%" src="static/assets/seaofthievesPREVIEW.jpg">
        </div>
        <div class="col-sm-8">
            <p style="font-size:28px; margin-left:25%;">
                Minecraft is an open-world survival game with no limits. Depending on the players’ goals, they can do whatever they want: build anything imaginable, conquer the infinitely long world and parallel dimensions, or just have a fun time with friends. Minecraft is the best game to play if you’re looking to have a fun experience with friends or a challenging adventure.
            </p>
        </div>
    </div>
</div>
<br>

<div>
    <table style="margin-right:auto; margin-left:auto; width:65%">
        <tr>
            <th style="font-size:30px">Pros</th>
            <th style="font-size:30px">Cons</th>
        </tr>
        <tr style="font-size:20px">
            <td>Multiplayer
                <br>Near infinite possibilities
                <br>Only $30, other AAA games are around $60</td>
            <td>Lack of administration on some servers can lead to bullying/harassment</td>
        </tr>
    </table>
</div>
<br>



</body>
{% endblock %}
</html>