<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% set project = "Valorant Review Page" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
{% block body %}
<style>
    table, th, td {
        border:2px solid black;
        text-align: center;
    }
    #deez{
        margin-right:8%;
    }
</style>
<body>
<br>

<div>
    <img style="margin-left:35%" src="static/assets/valorantTITLE.png">
</div>
<br>

<div class="container" id="deez">
    <div class="row">
        <div class="col-sm-4">
            <img style="width:600px; margin-left:-32.5%" src="static/assets/valorantPREVIEW.jpg">
        </div>
        <div class="col-sm-8">
            <p style="font-size:28px; margin-left:25%;">
                Valorant is one of the best online competitive shooter games. Valorant is kind of like CSGO combined with Overwatch abilities, the perfect combination. Valorant has many different characters and different maps to play with. Valorant has unrated and competitive for casual and more hardcore gamers. Even in unrated though the skill ceiling is high.
            </p>
        </div>
    </div>
</div>
<br>

<div>
    <table style="margin-right:auto; margin-left:auto; width:65%">
        <tr>
            <th style="font-size:30px">Pros</th>
            <th style="font-size:30px">Cons</th>
        </tr>
        <tr style="font-size:20px">
            <td>5 person online game
                <br>Skill based online matchmaking
                <br>Completely free to play</td>
            <td>Extremely high skill ceiling</td>
        </tr>
    </table>
</div>

</body>
{% endblock %}
</html>