<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video</title>

    <style>
        .title {
            color:gray;
            text-align:center;
        }
        body {
            background-color:rgba(82,174,231,0.52);
        }
        p{
            text-align-all: right;
        }
    </style>

</head>
<body>
    <div class="title">
        <h1>Video Journal 0</h1>
        <h3 style="color:gray; text-align:center;">By: Leo Sun, Reem Ben Ishai, Ethan Gravin, Zack ye</h3>
    </div>
    <div>
        <iframe width="980" height="551" src="https://www.youtube.com/embed/0Ba_NtECQZ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>hello</p>
    <div>
</body>
</html>